# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Base
on: [push, pull_request]

jobs:
  base:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        sdk: [3.0, 3.1, 3.2, 3.3, 3.4, stable]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ./base
    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1
        with:
          sdk: ${{ matrix.sdk }}

      - name: Install dependencies
        run: dart pub get

      - name: Format check
        run: dart format --output=none --set-exit-if-changed .

      - name: Analyze project source
        run: dart analyze --fatal-warnings --fatal-infos

      - name: Run tests
        run: bash ./coverage.sh && bash <(curl -s https://codecov.io/bash)
