# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Flutter
on: [push, pull_request]

jobs:
  flutter:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./flutter

    steps:
    - uses: actions/checkout@v3
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.7.0'

    - run: flutter pub get
    - run: flutter test
